
.modal-backdrop {
    z-index:949 !important;
}
.form-inline .radio label,
.form-inline .checkbox label {
    padding-left: 10px !important
}
.dropdown-menu.dropdown-light.dropdown-caret{
    max-height:300px;
    overflow-y:auto;
}
/*jqgrid div 行高问题*/
[role=gridcell] div {
    display: inline-block;
}
