################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/fap-netcore
/product/hcm/Fap.Hcm.Web/bin/Debug/netcoreapp3.0
/product/hcm/Fap.Hcm.Web/obj
/src/Fap.Core/bin/Debug
/src/Fap.AspNetCore/bin/Debug
/src/Fap.Core/obj
/src/Fap.AspNetCore/obj
/tests/XUnitTestFapCore/bin/Debug/netcoreapp3.0
/tests/XUnitTestFapCore/obj
/thirdparty/SQLGeneration/bin
/thirdparty/SQLGeneration/obj
/product/hcm/Fap.Hcm.Web/wwwroot/upload/image
/product/hcm/Fap.Hcm.Web/wwwroot/upload/image
/src/Fap.Workflow/bin
/src/Fap.Workflow/obj
