@model Fap.AspNetCore.ViewModel.JqGridViewModel
@using Fap.AspNetCore.Controls.JqGrid
@{
    Column column = new Column("oper");
    column.SetLabel("明细");
    column.SetSortable(false);
    column.SetWidth(80);
}
    <script>
        function initConsequentScoreMenu() {
            var ids = $("#grid-examinerscore").jqGrid('getDataIDs');
            for (var i = 0; i < ids.length; i++) {
                var de = '';
                var cl = ids[i];
                var rd = jQuery('#grid-examinerscore').jqGrid('getRowData', cl);
                var fid = rd.Fid;
                var schemeUid = rd.ProgramUid;
                de += "<a  href='javascript:void(0)' onclick='showConsequentScore(\"" + fid + "\",\"" + schemeUid + "\")'>" + $.lang("view", "查看") + "</a>  ";

                jQuery('#grid-examinerscore').jqGrid('setRowData', ids[i], { oper: de });
            }
        }
        function showConsequentScore(fid, schemeUid) {
            bootboxWindow1($.lang("detail", "明细"), basePath + "/Assess/Manage/Scoring", null, { examinerUid: fid, schemeUid: schemeUid });
        }
    </script>

<fap-grid id="examinerscore" attach-column="column" grid-model="Model" wrapper="modal-body" on-grid-complete="initConsequentScoreMenu" register-authority="false" auto-width="true" view-records="true" ></fap-grid>



