@model Fap.AspNetCore.ViewModel.JqGridViewModel
<fap-grid id="insitem" grid-model="Model" wrapper="modal-body" auto-width="true"></fap-grid>
<script>
    function AddInsItem(caseUid) {
        var dialog = bootbox.dialog({
            title: $.lang("add_insitem", "添加保险项"),
            message: ' <select multiple="multiple" size="10" id="duallistbox_insitems" name="duallistbox_insitems"></select>',
            buttons: {
                success: {
                    label: $.lang("ok", "确定"),
                    className: "btn-primary",
                    callback: function () {
                        var vals = $("#duallistbox_insitems").val();
                        if (vals ===null) {
                            bootbox.alert($.lang("select_item_empty", "选择项为空"))
                        } else {
                            $.post("@Url.Content("~/Insurance/Api/InsItems")", { insItems: vals, caseUid: caseUid }, function (rv) {
                                if (rv.success == true) {
                                    refreshInsItems();
                                } else {
                                    bootbox.alert(rv.msg);
                                }
                            })
                        }
                    }
                },
                cancel: {
                    label: $.lang("cancel", "取消"), className: "btn-default"
                }
            }
        });
        dialog.init(function () {
            $.get("@Url.Content("~/Insurance/Api/InsItems/")" + caseUid, function (rv) {
                if (rv.success) {
                    $("#duallistbox_insitems").empty();
                    $.each(rv.data, function (i, d) {
                        let strSel='';
                        if (d.isSelected === true) {
                            strSel = 'selected = "selected"';
                        }
                        $("#duallistbox_insitems").append("<option value='" + d.fid + "' " + strSel + ">" + d.colComment + "</option>");
                    })
                    $('#duallistbox_insitems').bootstrapDualListbox({
                        nonSelectedListLabel: '<span class="text-primary h5">' + $.lang("all_insitem", "所有保险项") + '</span> ',
                        selectedListLabel: '<span class="text-primary h5">' + $.lang("selected_insitem", "选中保险项") + '</span> ',
                        preserveSelectionOnMove: 'moved',
                        moveOnSelect: true,

                    });
                }
            })
        })
    }
    function generateInsItem(caseUid) {
        var index= layer.load();
        $.post(basePath + "/Insurance/Api/CreateInsCase", { caseUid: caseUid }, function (rv) {
            if (rv.success) {
                $.msg(rv.msg);
            } else {
                bootbox.alert(rv.msg);
            }
            layer.close(index);
        })
    }  
    function refreshInsItems() {
        reloadGrid("grid-insitem");
    }

</script>