.position-relative {
	display: inline-block;
	position: relative;
	height: 100%
}

#layout {
	padding: 0!important;
	margin: 0!important
}

#survey-side-bar {
	display: none!important
}

.rows1 {
	height: auto;
	float: left;
	width: 168px;
	z-index: 100;
	position: absolute
}

.sur-sidebar {
	width: 168px;
	height: auto;
	border: 1px solid #dbdbdb;
	background: #fff
}

.classify-title {
	width: 158px;
	height: 48px;
	font-size: 16px;
	line-height: 48px;
	padding: 0 0 0 10px;
	overflow: hidden;
	border-bottom: 1px solid #dbdbdb;
	cursor: pointer
}

.survey-title {
	width: 788px
}

.survey-title,#survey-tail,.survey-desc {
	background: #fff
}

.survey-title,.survey-desc {
	margin-bottom: 4px
}

#survey-tail {
	margin-top: 4px
}

.select-question-title {
	background: url(/Content/Survey/images/side_bar_show.png) no-repeat
}

.common-questions-title {
	background: url(/Content/Survey/images/side_bar_hide.png) no-repeat;
	border-bottom: 0
}

.module {
	cursor: pointer;
	height: 36px;
	text-align: left;
	line-height: 36px;
	background: url(/Content/Survey/images/question_logo.png) no-repeat;
	padding-left: 50px
}

.module.upload {
	background: url(/Content/Survey/images/upload.png) no-repeat;
	background-position: 18px 10px
}

.module.radio-img {
	background: url(/Content/Survey/images/radio-img.png) no-repeat;
	background-position: 18px 10px
}

.module.checkbox-img {
	background: url(/Content/Survey/images/checkbox-img.png) no-repeat;
	background-position: 18px 10px
}

.common-questions {
	border-top: 1px solid #dbdbdb
}

.common_question {
	cursor: pointer;
	text-align: center;
	line-height: 36px
}

.create-survey-nav {
	float: left
}

.handle-survey .survey-button {
	width: 72px;
	height: 30px;
	margin: 0;
	padding: 0
}

.handle-survey {
	float: right
}

.rows2 {
	margin-left: 172px;
	width: 790px;
	padding-bottom: 20px
}

.title-content {
	height: 48px;
	font-size: 18px;
	text-align: center;
	line-height: 48px;
	border: 1px solid #dbdbdb;
	position: relative;
	outline: 0
}

.desc-content {
	position: relative;
	outline: 0;
	width: 100%;
	min-height: 30px;
	line-height: 30px
}

#question-box {
	min-height: 276px
}

.question-box-init {
	line-height: 276px;
	text-align: center;
	font-size: 20px;
	color: #d0d0d0
}

#page-tail {
	width: 750px;
	margin: 0 5px;
	border-bottom: 1px solid #efefef;
	height: 36px;
	line-height: 36px;
	color: #999;
	text-align: right;
	padding-right: 30px
}

#survey-tail {
	border: 1px solid #dbdbdb
}

#survey-op {
	margin: 20px 0 0;
	height: 30px;
	text-align: center
}

#survey-op .outstanding-button {
	display: inline-block;
	margin-right: 12px
}

.topic-type-content {
	border: 1px solid #dbdbdb;
	margin: 4px 0;
	display: inline-block;
	width: 788px;
	background: #fff
}

.after-clear:after {
	clear: both;
	display: block;
	content: '';
	visibility: hidden;
	height: 0
}

.question-title {
	padding: 12px 0 16px 20px;
	font-size: 14px
}

.question-id {
	margin-right: 10px
}

.question-choice {
	padding: 0 0 10px 35px;
	font-size: 12px;
	vertical-align: middle
}

.question-choice .auto-height {
	height: auto
}

.question-choice li input {
	margin: 2px 10px 0 0
}

.add-choice {
	background: url(/Content/Survey/images/add.png) no-repeat;
	cursor: pointer
}

.batch-add-choice {
	background: url(/Content/Survey/images/add.png) no-repeat;
	background-position: -28px 0;
	cursor: pointer
}

.drag-area {
	background: url(/Content/Survey/images/handle.png) no-repeat;
	background-position: -44px 0
}

.set-logic {
	background: url(/Content/Survey/images/handle.png) no-repeat
}

.logic-show-checkbox {
	vertical-align: top;
	margin-right: 5px
}

.question-copy {
	background: url(/Content/Survey/images/handle.png) no-repeat;
	background-position: -88px 0
}

.question-handle {
	background: url(/Content/Survey/images/handle.png) no-repeat;
	background-position: -134px 0
}

.question-delete {
	background: url(/Content/Survey/images/handle.png) no-repeat;
	background-position: -178px 0
}

.fixed-area {
	position: fixed;
	top: 0;
	z-index: 100
}

.page-area {
	line-height: 36px;
	text-align: right;
	margin-right: 50px;
	color: #999
}

#survey-content .button {
	float: left;
	margin: 0 10px 0 0;
	text-align: center;
	padding: 0;
	cursor: pointer;
	width: 68px;
	height: 28px;
	font-size: 12px;
	line-height: 20px;
	background-color: #f1f5fd;
	border: 1px solid #b0c0e7;
	color: #2c4a93;
	box-shadow: none
}

.input-single {
	width: 226px;
	height: 25px;
	border: 1px solid #b0c0e7
}

.multi-input {
	width: 240px;
	height: 94px;
	border: 1px solid #b0c0e7;
	resize: none
}

.question-choice table td {
	width: 237px;
	height: 35px;
	text-align: center
}

.question-choice table tr td {
	border: 1px solid #b0c0e7;
	outline: 0
}

.operate {
	float: right;
	margin-right: 30px;
	height: 36px;
	cursor: pointer
}

.operate li {
	float: left;
	margin: 0 12px;
	width: 23px;
	height: 23px
}

.survey-hide {
	display: none
}

.visible-hide {
	visibility: hidden
}

.visible-show {
	visibility: visible
}

.operate-dialog,.choice-operate-dialog {
	border: 1px solid #dbdbdb;
	position: absolute!important;
	left: 800px;
	width: 320px!important;
	background: #fff;
	z-index: 1001;
	top: -20px;
	left: 210px
}

.dialog-title {
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
	background: #f1f5fd;
	border-bottom: 1px solid #b0c0e7
}

.dialog-title span {
	color: #2c4a93
}

.question-title .qs-content {
	width: 668px!important;
	display: inline-block;
	min-height: 30px;
	line-height: 30px;
	position: relative;
	outline: 0;
	padding: 0!important;
	margin: 0!important;
	vertical-align: middle
}

.question-title .qs-high-content:focus {
	min-height: 60px
}

.choice .edit-area {
	display: inline-block;
	width: 640px;
	min-height: 30px;
	line-height: 30px;
	position: relative;
	outline: 0;
	vertical-align: middle
}

.edit-img {
	position: absolute!important;
	overflow: hidden;
	top: -25px;
	right: 0;
	padding-top: 2px;
	z-index: 100;
	background: #fff;
	border: 1px solid #dbdbdb
}

.edit-img ul {
	margin: 0;
	height: 20px
}

.edit-img li {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	cursor: pointer
}

.handle-child-element {
	width: 20px;
	height: 17px;
	background: url(/Content/Survey/images/choice_edit.png) no-repeat;
	background-position: -58px 0
}

.remove-child-element {
	width: 20px;
	height: 20px;
	background: url(/Content/Survey/images/choice_edit.png) no-repeat;
	background-position: -88px 0
}

.up-child-element {
	width: 20px;
	height: 20px;
	background: url(/Content/Survey/images/choice_handle.png) no-repeat;
	background-position: -41px -222px
}

.down-child-element {
	width: 20px;
	height: 20px;
	background: url(/Content/Survey/images/choice_handle.png) no-repeat;
	background-position: -41px -241px
}

.upload-form .upload-img {
	width: 20px;
	height: 20px;
	overflow: hidden;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
	margin-top: -2px;
	cursor: pointer;
	vertical-align: top
}

.visibility-btn {
	margin-top: -17px;
	width: 20px;
	height: 20px;
	background: url(/Content/Survey/images/choice_edit.png) no-repeat;
	background-position: -27px 0;
	cursor: pointer
}

.add-area {
	float: left;
	margin: 0 35px;
	height: 30px
}

.add-area.survey-question-upload-img-wrap {
	float: none;
	height: auto;
	vertical-align: top;
	margin-left: 35px
}

.survey-question-upload-img-wrap.ml35 {
	margin-left: 35px
}

.add-area li {
	float: left;
	margin: 0 15px 0 0;
	width: 16px;
	height: 16px;
	color: #0786e9
}

.survey-dialog {
	border: 1px solid #dbdbdb;
	position: absolute;
	left: 800px;
	background: #fff;
	z-index: 1000
}

.batch-choices {
	height: 100px;
	width: 370px;
	overflow: auto;
	resize: none
}

.edit-child-element-dialog ul li {
	float: left;
	margin: 0 10px
}

.handle-area {
	padding: 14px 16px 0
}

.handle-area input {
	margin: -3px 10px 0 0
}

.dialog-tail {
	height: 30px;
	padding-left: 93px;
	margin-bottom: 20px
}

.dialog-tail .button {
	width: 64px;
	height: 30px;
	padding: 0;
	margin: 0 10px 0 0
}

.operate-dialog-title-content {
	width: 60px;
	display: inline-block
}

.dialog-content {
	min-height: 60px
}

.batch-add-choices-dialog {
	width: 420px
}

.choice-area {
	margin: 0 16px 12px
}

.add-title {
	height: 40px;
	line-height: 40px;
	padding-left: 16px;
	color: #2c4a93;
	background: #f1f5fd
}

.add-content-tip {
	line-height: 24px;
	margin: 10px 0 4px 16px
}

.add-tail {
	margin: 12px 16px 20px;
	height: 30px
}

.add-tail .button {
	width: 64px;
	height: 30px
}

.edit-tip,.question-topic-remove {
	width: 320px
}

.matrix-choice,.radio_array_title .edit-area,.checkbox_array_title .edit-area {
	height: 100%;
	line-height: 32px;
	width: 100%
}

.edit-tip .dialog-content,.question-topic-remove .dialog-content {
	height: 60px;
	margin: 20px
}

.img-edit-size li {
	float: left;
	width: 24px;
	height: 30px;
	cursor: pointer
}

.img-edit-size ul {
	margin: 0;
	width: 100px;
	height: 30px;
	background: #f1f1f1
}

.enl {
	background: url(/Content/Survey/images/img_edit.png) no-repeat;
	background-position: -5px -2px
}

.ori {
	background: url(/Content/Survey/images/img_edit.png) no-repeat;
	background-position: -45px -4px
}

.nar {
	background: url(/Content/Survey/images/img_edit.png) no-repeat;
	background-position: -84px -2px
}

.del {
	background: url(/Content/Survey/images/img_edit.png) no-repeat;
	background-position: -123px -2px
}

.required {
	color: red
}

.choice-operate-dialog .dialog-content {
	margin: 16px 16px 12px;
	height: 50px
}

.edit-survey-wrap {
	background: #fff;
	margin: 0 auto
}

.choice-operate-dialog .add-other {
	margin: 0
}

.choice {
	position: relative;
	outline: 0;
	display: inline-block
}

.question-choice table tr td:first-child {
	position: relative
}

.matrix-choice>div {
	width: 60px;
	height: 28px
}

.navigation {
	width: 968px;
	margin: 0 auto
}

#edit-survey-content {
	background: #fff;
	width: 968px;
	margin: 0 auto
}

#main-panel {
	border: 0!important
}

#content {
	background: #eee
}

.time-save {
	background: #fdf9cd;
	width: 150px;
	height: 40px;
	text-align: center;
	line-height: 40px
}

.attach-layer {
	top: 148px;
	position: absolute;
	z-index: 1;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0
}

.color-default {
	color: #333
}

.modal-backdrop {
	z-index: 101!important
}

.input-single {
	width: 240px
}

.other-content {
	margin: 5px 0 10px 20px!important
}

td .other-content {
	margin: 5px 0 10px 14px!important
}

.handle-survey {
	margin: 20px 5px 10px 0
}

.edit-select {
	margin: 0 10px;
	cursor: pointer;
	color: #0786e9
}

.handle-area .min-checkbox,.handle-area .max-checkbox {
	margin: 0 5px;
	width: 40px
}

.choice_show_logic_show_questions,.exclusive-option-tip {
	display: inline-block;
	color: #999;
	margin-left: 20px;
	vertical-align: middle;
	line-height: 30px
}

.question-title-tip {
	color: #999;
	margin-left: 36px;
	line-height: 28px;
	height: 20px;
	font-size: 12px
}

.choice_show_logic_show_questions_link {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	width: 130px;
	display: inline-block;
	vertical-align: bottom;
	color: #999
}

.choice_show_logic_show_questions_link:hover {
	color: #999
}

.question-choice table {
	width: 700px
}

.survey-desc {
	border: 1px solid #dbdbdb;
	margin: 4px 0;
	display: inline-block;
	width: 788px;
	background: #fff;
	padding: 20px
}

.error-tips {
	color: #999;
	font-size: 12px
}

.error {
	color: #eb3535
}

.dialog-button-survey {
	width: 64px!important;
	height: 30px;
	line-height: 26px;
	border-radius: 3px;
	background: #f1f5fd;
	border: 1px solid #b0c0e7;
	color: #2c4a93;
	cursor: pointer
}

.dialog-button-survey:hover {
	border: 1px solid #6583cc;
	background: #f1f5fd
}

.preview-survey .common-button {
	width: 108px;
	height: 38px;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	line-height: 35px;
	vertical-align: middle
}

.title-quote-button {
	float: right;
	width: 40px;
	height: 20px;
	line-height: 18px;
	display: inline-block;
	text-align: center;
	border: 1px solid #ccc;
	border-radius: 2px;
	cursor: pointer;
	margin-top: 4px
}

.exclusive-add-button,.logic-add-button {
	background: url(/Content/Survey/images/add.png) no-repeat;
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 20px;
	position: relative;
	top: 3px
}

.exclusive-delete-button,.logic-delete-button {
	background: url(/Content/Survey/images/rule_delete.png) no-repeat;
	cursor: pointer;
	width: 16px;
	height: 16px;
	display: inline-block;
	margin-left: 20px;
	position: relative;
	top: 3px
}

.choice-quote-tip {
	padding: 0 0 10px 35px;
	font-size: 12px;
	color: #999
}