.main {
    min-height: 500px
}

.radio-seclected {
    background: url(/Content/Survey/images/radio_checked.png) no-repeat;
    padding-left: 25px
}

.radio {
    background: url(/Content/Survey/images/radio.png) no-repeat;
    padding-left: 25px
}

.survey-radio {
    background: url(/Content/Survey/images/radio.png) no-repeat;
    padding-left: 25px;
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle
}

.checbox {
    background: url(/Content/Survey/images/checkbox.png) no-repeat;
    padding-left: 25px
}

.checbox-seclected {
    background: url(/Content/Survey/images/checkbox_checked.png) no-repeat;
    padding-left: 25px
}

#edit-survey-wrap {
    margin: 0 auto;
    background: #fff;
    border-radius: 5px;
    padding-right: 60px;
    padding-left: 60px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px
}

.response-survey-header {
    padding-top: 30px;
    padding-left: 20px;
    color: #2c4a93
}

    .response-survey-header label span {
        font-size: 12px
    }

.res-survey-header-info {
    margin-right: 15px
}

.module {
    margin: 20px 20px 0;
    border: 1px solid #dbdbdb
}

.question-title {
    margin: 25px 0 20px 20px
}

.question-choice {
    padding: 0px 0 0px 40px;
    word-wrap: break-word;
    word-break: break-all;
    font-weight: 400
}

    .question-title span, .question-choice span {
        font-family: MicroSoft Yahei;
        margin:0
    }

.response-survey-content {
    padding-bottom: 40px
}

.question-choice table tr td {
    border: 1px solid #b0c0e7;
    height: 30px;
    width: 130px;
    text-align: center
}

.single-input {
    width: 254px;
    height: 34px
}

.multi-input {
    width: 254px;
    height: 100px;
    resize: none
}

#res-prev {
    position: fixed;
    top: 300px;
    left: 237px
}

#res-next {
    top: 300px;
    right: 262px;
    position: fixed
}

.other_content {
    border: 1px solid #dbdbdb;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding: 0 5px;
    vertical-align: middle;
    min-width: 80px;
    background-color: #eee;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -mos-border-radius: 4px;
    margin: 5px
}

#survey-content {
    width: 900px;
    margin-left: 210px
}

#res-next {
    top: 300px;
    right: 152px;
    position: fixed;
    cursor: pointer;
}

#res-prev {
    position: fixed;
    top: 300px;
    left: 137px;
    cursor: pointer;
}
.survey-question-radio-img {
    margin-left: 40px !important;
}
.survey-question-checkbox-img {
    margin-left: 40px !important;
}