#survey-layout {
	position: relative
}

.survey-response-header {
	background: #fff;
	border: 1px solid #eee
}

.survey-response-header>div {
	line-height: 40px
}

.survey-response-header-left {
	font-size: 16px;
	margin-left: 10px;
	
}

.survey-response-header-right {
	margin-left: 20px;
	font-size: 12px
}

.survey-manage-warp {
	position: relative;
	height: auto;
	background: #eee;
	margin-bottom: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.survey-manage-content {
	margin: 0 180px;
	background-color: #fff;
	min-height: 690px;
	margin: 0;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px
}

.survey-manage-head {
	height: 61px;
	line-height: 60px;
	position: relative
}

.survey-manage-head ul {
	font-size: 16px;
	color: #8ba4e1;
	background: #f1f5fd;
	width: 100%;
	border-bottom: 1px solid #b0c0e7;
	height: 60px
}

.survey-create-header {
	height: 50px;
	line-height: 50px;
	padding-left: 20px;
	font-size: 12px;
	color: #666;
	background: #fff
}

.response-tab {
	width: 113px;
	border-right: 1px solid #b0c0e7;
	text-align: center;
	line-height: 60px;
	float: left;
	cursor: pointer
}

.response-tab.active {
	background: #fff;
	height: 61px;
	color: #2c4a93
}

.survey-response-operate {
	margin: 20px;
	height: 30px
}

.filter-area {
	float: left;
	line-height: 30px!important;
	margin-top: 0!important;
	margin-bottom: 0!important;
	padding: 0
}

.export-data-area {
	float: right
}

.report-card {
	border: 1px solid #dbdbdb;
	margin: 0 20px 20px
}

.data-form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.survey-report-filter-area-complete {
	margin: 0 20px 20px
}

.survey-report-filter-area-complete table {
	width: 100%;
	line-height: 40px
}

.survey-report-filter-area-complete table td {
	border: 1px solid #ddd;
	padding: 0 10px
}

#filter-box {
	margin: 20px
}

.filter-operate {
	margin: 20px;
	height: 30px
}

.add-filter {
	float: left
}

.filter-save-cancel {
	float: right
}

.report-card-header {
	height: 50px;
	border-bottom: 1px solid #dbdbdb
}

.report-card-title {
	margin-left: 20px;
	line-height: 55px;
	float: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.report-card-operate {
	float: right;
	line-height: 50px;
	margin-right: 20px
}

.selected-condition {
	color: #2c4a93;
	background: #f1f5fd;
	border: 1px solid #b0c0e7;
	height: 28px;
	width: 90px
}

.data-form .report-table thead {
	background-color: #f5f5f5
}

.data-form .report-table thead th {
	padding-left: 20px
}

.data-form .report-table thead td {
	padding-left: 20px
}

.survey_report_area {
	padding-bottom: 20px
}

.data-form {
	padding: 470px 20px 20px
}

.data-chart-radio {
	background-color: rgba(0,0,0,0);
	cursor: default;
	height: 400px;
	margin: 0 auto;
	position: absolute;
	top: 10px;
	width: 820px;
	left: 0;
	right: 0
}

.report-card-div {
	position: relative
}

.invalid-info {
	margin-right: 15px
}

.survey-status-area {
	font-size: 12px
}

.disabled {
	cursor: default!important;
	color: #999!important
}

.rule-remove {
	margin-left: 779px;
	cursor: pointer
}

.condition {
	width: 68px;
	margin-right: 10px
}

.question {
	margin-right: 10px;
	width: 395px
}

#filter-box {
	border: 1px solid #dbdbdb
}

.survey-upload-item {
	display: inline-block;
	padding: 5px
}

.survey-upload-item>img {
	width: 280px;
	vertical-align: top;
	border-radius: 2px;
	cursor: pointer;
	margin-top: -1px
}

.survey-response-feedback-wrap {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px
}

.pagination ul>li {
	display: inline
}

li {
	line-height: 20px
}

.pagination ul {
	display: inline-block;
	margin-bottom: 0;
	margin-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05)
}

.pagination ul>.active>a,.pagination ul>.active>span {
	color: #999;
	cursor: default
}

.pagination ul>li>a:hover,.pagination ul>li>a:focus,.pagination ul>.active>a,.pagination ul>.active>span {
	background-color: #f5f5f5
}

.pagination ul>li>a,.pagination ul>li>span {
	float: left;
	padding: 4px 12px;
	line-height: 20px;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #ddd;
	border-left-width: 0
}

.pagination ul>.disabled>span,.pagination ul>.disabled>a,.pagination ul>.disabled>a:hover,.pagination ul>.disabled>a:focus {
	color: #999;
	cursor: default;
	background-color: transparent
}

.pagination ul>li:first-child>a,.pagination ul>li:first-child>span {
	border-left-width: 1px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-moz-border-radius-topleft: 4px
}