@model Fap.AspNetCore.ViewModel.JqGridViewModel
@{
    Layout = null;
}

<title>字典管理</title>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">字典分类</h4>

                <div class="widget-toolbar">
                    <a href="#" data-ctrl="widgetAction" data-action="add" class="orange2">
                        <i class="ace-icon fa fa-plus-circle purple"></i>
                    </a>

                    @*<a href="#" data-ctrl="widgetAction"  data-action="edit">
                            <i class="ace-icon fa fa-pencil blue"></i>
                        </a>*@

                    <a href="#" data-ctrl="widgetAction" data-action="delete">
                        <i class="ace-icon fa fa-trash-o red"></i>
                    </a>
                    @*<a href="#" data-ctrl="widgetAction"  data-action="refresh">
                            <i class="ace-icon fa fa-refresh"></i>
                        </a>*@
                </div>
            </div>

            <div class="widget-body">
                <div class="widget-main scrollable" id="divDictCategory">
                    <fap-tree id="dictcategory" is-async="true" get-url="/System/Api/Tools/DictCategory"></fap-tree>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">字典</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <fap-grid id="fapdict" auto-width="true" grid-model="Model" source-type="Local"  on-form-init-add="afterInitFormCallback();setDefaultValues();" on-form-init-edit="afterInitFormCallback" oper-cud="true"></fap-grid>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var selCategory = {};
    var afterInitFormCallback = function () {
        $("#Category").attr("disabled", "disabled");
        $("#CategoryName").attr("disabled", "disabled");
    }
    var setDefaultValues = function () {
        var tree = $("#tree-dictcategory").jstree(true);
        var sel = tree.get_selected();
        if (sel.length) {

            $("#Category").val(sel[0]);
            $("#CategoryName").val(tree.get_node(sel[0]).text);
        }
    }
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $("#divDictCategory").doScroll(60);

            $(document).one('ajaxloadstart.page', function (e) {

            })
            $(document).off(ace.click_event, '[data-ctrl=widgetAction]').on(ace.click_event, '[data-ctrl=widgetAction]', function (ev) {
                ev.preventDefault();
                debugger
                var $this = $(this);

                var $action = $this.data('action');

                if ($action == 'add') {
                    var dialog = bootbox.dialog({
                        title: '字典分类',
                        message: ['<form class="form-horizontal" role="form">',
                            '    <div class="form-group">',
                            '        <label class="col-sm-3 control-label no-padding-right" for="form-field-CatCode"> 分类编码 </label>',
                            '        <div class="col-sm-9">',
                            '            <input type="text" id="form-field-CatCode" placeholder="分类编码" class="form-control" />',
                            '        </div>',
                            '    </div>',
                            '    <div class="form-group">',
                            '        <label class="col-sm-3 control-label no-padding-right" for="form-field-CatName"> 分类名称 </label>',
                            '        <div class="col-sm-9">',
                            '            <input type="text" id="form-field-CatName" placeholder="分类编码" class="form-control" />',
                            '        </div>',
                            '    </div>',
                            '</form>'].join(""),
                        buttons: {
                            success: {
                                label: MultiLangHelper.getResName("global_oper_enter", "确定"),
                                className: "btn-primary",
                                callback: function () {
                                    var code = $("#form-field-CatCode").val();
                                    var name = $("#form-field-CatName").val();
                                    if (code == '' || name == '') {
                                        bootbox.alert("编码和名称不能为空！");
                                        return false;
                                    }
                                    $("#tree-dictcategory").jstree("create_node", "#0_anchor", {
                                        "id": code,
                                        "pid": "0",
                                        "text": name,
                                        "icon": "icon-folder orange ace-icon fa fa-leaf",
                                        "children": []
                                    }, "first");
                                }
                            },


                            cancel: {
                                label: MultiLangHelper.getResName("global_oper_cancel", "取消"), className: "btn-default"
                            }
                        }

                    });

                } else if ($action == 'delete') {
                    var tree = $("#tree-dictcategory").jstree(true);
                    var sel = tree.get_selected();
                    if (!sel.length) {
                        $.msg("请选中字典分类删除！")
                        return;
                    }
                    bootbox.confirm("删除分类会将字典一起删除,确认删除？", function (result) {
                        if (result) {
                            $.get(basePath + "/System/Api/Tools/DeleteDict/" + sel[0], function (rv) {
                                if (rv.success) {
                                    $.msg(rv.msg);
                                    $("#tree-dictcategory").jstree("delete_node", tree.get_node(sel[0]));
                                } else {
                                    $.msg(rv.msg);
                                }
                            })
                        }
                    })
                }
            })
            //字典分类变化事件
            $('#tree-dictcategory').on("changed.jstree", function (e, data) {
                if (data && data.selected && data.selected.length) {
                    var code = data.selected[0];

                    var filter = { "groupOp": "AND" };
                    var rules = [];
                    rules.push({ "field": "Category", "op": "eq", "data": code });

                    filter.rules = rules;
                    $("#grid-fapdict").jqGrid('setGridParam', {
                        datatype: 'json',
                        postData: { filters: JSON.stringify(filter) }, //发送数据
                        page: 1
                    }).trigger("reloadGrid"); //重新载入
                }
                //console.log(data.selected);
            });
        })
    })
</script>

