@using Fap.AspNetCore.Controls
@model Fap.AspNetCore.ViewModel.JqGridViewModel

<title>日报周报</title>
<link href="~/Content/css/bootstrap-timeline.css" rel="stylesheet" />
<link href="~/Content/css/daterangepicker.css" rel="stylesheet" />
<script id="TimelineTemplate" type="text/x-jquery-tmpl">
    <div class="itemdiv commentdiv">
        <div class="user">
            <img alt="Jennifer's Avatar" src="@Url.Content("~/Home/UserPhotoByFid/")${EmpUid}" />
        </div>

        <div class="body">
            <div class="name">
                <a href="#" data-empuid="${EmpUid}">${EmpUidMC}</a>
            </div>

            <div class="time">
                <i class="ace-icon fa fa-clock-o"></i>
                <span class="blue">${RptDate}</span>
                <span class="blue">
                    {{if RptCategory=='Daily'}} 日报{{/if}}
                    {{if RptCategory=='Weekly'}} 周报{{/if}}
                    {{if RptCategory=='Monthly'}} 月报{{/if}}
                </span>
            </div>

            <div class="text">
                <i class="ace-icon fa fa-quote-left"></i>
                {{html RptContent}}
            </div>
        </div>
        {{if Review==''}}
        <div class="tools">
            <div class="action-buttons bigger-125">
                <a href="#" data-fid="${Fid}" data-id="${Id}" class="rptcomment">
                    <i class="ace-icon fa fa-comments-o green"></i>
                </a>
            </div>
        </div>
        {{/if}}
    </div>

</script>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title">管辖部门</h4>
            </div>

            <div class="widget-body">               
                <div class="row">
                    <div class="col-xs-12">
                        <div id="treeDeptDiv" class="widget-main scrollable">
                            <fap-tree id="orgdept" is-async="true" get-url="/SelfService/Api/DominationDepartment"></fap-tree>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="widget-box">
            <div class="widget-header">
                <h5 class="widget-title" id="rptDate">2017-07-19</h5>

                <div class="widget-toolbar">
                    <a href="#" data-action="collapse">
                        <i class="1 ace-icon fa fa-chevron-up bigger-125"></i>
                    </a>
                </div>

                <div class="widget-toolbar no-border">
                    <button class="btn btn-xs btn-primary bigger" id="btnPreDate">
                        <i class="ace-icon fa fa-arrow-left"></i>
                        前一天
                    </button>
                    <button class="btn btn-xs btn-warning bigger" id="btnCurrDate">
                        <i class="ace-icon fa fa-calendar"></i>
                        当天
                    </button>
                    <button class="btn btn-xs bigger btn-success" id="btnNextDate">
                        后一天
                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                    </button>
                </div>
                <div class="widget-toolbar no-border">
                    <ul class="nav nav-tabs" id="myTab2">
                        <li class="active">
                            <a data-toggle="tab" href="#home">日报周报</a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#reportlist">列表</a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="widget-body">
                <div class="widget-main padding-12 no-padding-left no-padding-right">
                    <div class="tab-content padding-4">
                        <div id="home" class="tab-pane in active">
                            <div class="row">
                                <div class="col-xs-12">
                                    <form class="form-inline">
                                        <input type="text" id="txtEmpName" class="form-control" placeholder="姓名" />

                                        <div class="input-group">
                                            <input class="form-control" id="id-date-picker-range" name="date-range-picker" style="width:250px" type="text"/>
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar bigger-110"></i>
                                            </span>
                                        </div>
                                        <button type="button" id="btnSearch" class="btn btn-info btn-sm">
                                            <i class="ace-icon fa fa-search bigger-110"></i>查询
                                        </button>
                                    </form>

                                </div>


                            </div>
                            <div class="hr hr-1 hr-dotted"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="comments" id="timelineContent">

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="reportlist" class="tab-pane">
                            <fap-grid id="essreport" grid-model="Model" auto-width="true" view-records="true" multi-box-only="true"
                                      multi-select="true" on-grid-complete="GridComplete" ></fap-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /section:elements.tab -->

<script>
    var GridComplete = function () {
        var obj = $("#grid-essreport").jqGrid("getRowData", null);
        if (obj.length > 0) {
            $("#timelineContent").empty();
            $("#TimelineTemplate").tmpl(obj).appendTo("#timelineContent");
        }
        $(".name a").off(ace.click_event).on(ace.click_event, function () {
            var empuid = $(this).data("empuid");
            var dialog = bootbox.dialog({
                title: "近一个月日报",
                message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                buttons: {
                    cancel: {
                        label: "关闭", className: "btn-default"
                    }
                }

            });
            dialog.init(function () {
                var url = "@Url.Content("~/SelfService/Mss/EmpDayReport/?empUid=")" + empuid;
                $.get(url, function (ev) {
                    dialog.find('.bootbox-body').html(ev);

                })
            });


        })
        $(".rptcomment").off(ace.click_event).on(ace.click_event, function () {
            var fid = $(this).data("fid");
            var id = $(this).data("id");      
            bootbox.prompt("评价", function (result) {
                if (result === null) {
                } else {
                    formData.Review = result;
                    var url = basePath + '/api/coreapi/Persistence';
                    $.post(url, formData, function (rv) {
                        if (rv.success = true) {
                            bootbox.alert("评价成功！");
                        } else {
                            bootbox.alert("评价失败！");
                        }
                    })
                }
            });
        })
    }
    var scripts = [null, "/Content/js/jquery.tmpl.js", "/Content/js/date-time/daterangepicker.js", null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $(document).one('ajaxloadstart.page', function (e) {
                $('.daterangepicker').remove();
            })
            //查询日期初始化
            moment.locale('zh-cn');
            var dataRange = {
                "startDate": moment().format('YYYY-MM-DD') + " 00:00:00",
                "endDate": moment().format('YYYY-MM-DD') + " 23:59:59"
            };
            $('input[name=date-range-picker]').daterangepicker({
                'applyClass': 'btn-sm btn-success btn-round',
                'cancelClass': 'btn-sm btn-default  btn-round',
                locale: {
                    applyLabel: '确定',
                    customRangeLabel: "自定义",
                    //format: "YYYY-MM-DD",
                    separator: " 至 ",
                    cancelLabel: '取消'
                }, ranges: {
                    '今天': [moment(), moment()],
                    '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '过去7天': [moment().subtract(6, 'days'), moment()],
                    '过去30天': [moment().subtract(29, 'days'), moment()],
                    '当月': [moment().startOf('month'), moment().endOf('month')],
                    '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }).on('apply.daterangepicker', function (ev, picker) {
                dataRange = {
                    "startDate": picker.startDate.format('YYYY-MM-DD') + " 00:00:00",
                    "endDate": picker.endDate.format('YYYY-MM-DD') + " 23:59:59"
                };
            }).prev().on(ace.click_event, function () {
                $(this).next().focus();
            });
            //查询
            $("#btnSearch").on(ace.click_event, function () {
                var treeDept = $('#tree-orgdept').jstree(true);
                var sel = treeDept.get_selected();
                if (!sel.length) {
                    bootbox.alert("请选择要查找的部门！");
                    return false;
                }

                var filter = { "groupOp": "AND" };
                var rules = [];
                if ($("#txtEmpName").val() != '') {
                    rules.push({ "field": "EmpUid", "op": "in", "data": "(select fid  from employee where EmpName like '%" + $("#txtEmpName").val() + "%')" });
                }
                rules.push({ "field": "RptDate", "op": "ge", "data": dataRange.startDate });

                rules.push({ "field": "RptDate", "op": "le", "data": dataRange.endDate });
                //获取所有子Fid
                var childs = treeDept.get_node(sel[0]).children_d;
                var selids = childs.concat(sel);
                var depts = [];
                $.each(selids, function (i, d) {
                    depts.push("'" + d + "'");
                })
                rules.push({ "field": "EmpUid", "op": "in", "data": "(select fid from employee where deptUid in(" + depts.join() + "))" });
                filter.rules = rules;
                refreshGrid(JSON.stringify(filter));
            })
            //当前日期
            var currentDate = moment().format('YYYY-MM-DD');
            $("#rptDate").text(currentDate)
            //前天
            $("#btnPreDate").on(ace.click_event, function () {
                currentDate = moment(currentDate).add(-1, 'days').format('YYYY-MM-DD');
                refreshReport(currentDate);

            })
            //当天
            $("#btnCurrDate").on(ace.click_event, function () {
                currentDate = moment().format('YYYY-MM-DD');
                refreshReport(currentDate);

            })
            //后一天
            $("#btnNextDate").on(ace.click_event, function () {
                currentDate = moment(currentDate).add(1, 'days').format('YYYY-MM-DD');
                refreshReport(currentDate);
            })
            //根据日期查询日报周报
            var refreshReport = function (currentDate) {
                $("#rptDate").text(currentDate);
                var treeDept = $('#tree-orgdept').jstree(true);
                var sel = treeDept.get_selected();
                if (!sel.length) { return false; }

                //获取所有子Fid
                var childs = treeDept.get_node(sel[0]).children_d;
                var selids = childs.concat(sel);
                var depts = [];
                $.each(selids, function (i, d) {
                    depts.push("'" + d + "'");
                })
                var filter = '{"groupOp":"AND","rules":[{"field":"EmpUid","op":"in","data":"(select fid from employee where deptUid in(' + depts.join() + '))"},{"field":"RptDate","op":"eq","data":"' + currentDate + '"}]}'
                refreshGrid(filter);
            }
     
            //部门变化事件，加载人员信息
            //$('#tree-orgdept').on("changed.jstree", function (e, data) {
            //    if (data && data.selected && data.selected.length) {
            //        var deptid = data.selected[0];
            //        var deptMC = data.node.text;
            //        //获取所有子Fid
            //        var childs = data.node.children_d;
            //        var selids = childs.concat(deptid);
            //        var depts = [];
            //        $.each(selids, function (i, d) {
            //            depts.push("'" + d + "'");
            //        })
            //        var filter = '{"groupOp":"AND","rules":[{"field":"EmpUid","op":"in","data":"(select fid from employee where deptUid in(' + depts.join() + '))"},{"field":"RptDate","op":"eq","data":"' + currentDate + '"}]}'
            //        refreshGrid(filter);
            //    }
            //    //console.log(data.selected);
            //});
            var refreshGrid = function (filter) {
                $("#grid-essreport").jqGrid('setGridParam', {
                    datatype: 'json',
                    postData: { pageCondition: filter }, //发送数据
                    page: 1
                }).trigger("reloadGrid"); //重新载入
            }
        })
    });


</script>
