
@model Fap.AspNetCore.ViewModel.FormViewModel
@*<div class="row">
        <div class="col-sm-3">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                    <h4 class="widget-title blue smaller">
                        <i class="ace-icon fa fa-sitemap orange"></i>
                        <fap-multilang lang-key="orgdept_Mergedept_page_themergedepartment" default-content="要合并部门"></fap-multilang>
                    </h4>
                </div>

                <div class="widget-body">

                   <fap-tree id="orgdeptmerge" is-async="false" is-orgdept="true" plugin-checkbox="true"></fap-tree>

                  </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="widget-box transparent">
                <div class="widget-header widget-header-small">
                    <h4 class="widget-title blue smaller">
                        <i class="ace-icon fa fa-crosshairs blue"></i>
                        <fap-multilang lang-key="orgdept_Mergedept_page_targetdept" default-content="目标部门"></fap-multilang>
                    </h4>


                </div>

                <div class="widget-body">
                    <div class="widget-main padding-8">
                        <fap-form id="orgdeptmerge" form-model="Model"></fap-form>

                    </div>
                </div>
            </div>
        </div>
    </div>*@
<div id="modal-wizard-container">
    <div>
        <ul class="steps">
            <li data-step="1" class="active"> <span class="step">1</span> <span class="title">选择需要合并的部门</span> </li>
            <li data-step="2"> <span class="step">2</span> <span class="title">确认要合并的部门</span> </li>
            <li data-step="3"> <span class="step">3</span> <span class="title">完成合并部门</span> </li>
        </ul>
    </div>
    <hr />
    <div class="step-content">
        <div class="step-pane active" data-step="1">
            <fap-tree id="orgdeptmerge" is-async="false" is-orgdept="true" plugin-checkbox="true"></fap-tree>
        </div>
        <div class="step-pane" data-step="2">
            <div class="control-group form-horizontal" id="confirmDepts">                
                <!-- #section:custom/checkbox -->
                <!--<div class="checkbox">-->
            
                <!-- /section:custom/checkbox -->
            </div>
        </div>
        <div class="step-pane" data-step="3">
            <fap-form id="orgdeptmerge" form-model="Model"></fap-form>
        </div>
    </div>
</div>
<div class="wizard-actions">
    <!-- #section:plugins/fuelux.wizard.buttons -->
    <a class="btn btn-prev">
        <i class="ace-icon fa fa-arrow-left"></i>
        上一步
    </a>

    <a class="btn btn-success btn-next" data-last="完成">
        下一步
        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
    </a>
    <button class="btn btn-danger btn-sm pull-left">
        <i class="ace-icon fa fa-times"></i>
        取消
    </button>
    <!-- /section:plugins/fuelux.wizard.buttons -->
</div>
<script>
    //$(function () {
    //    $("#btnSaveMergeDept").on(ace.click_event, function () {
    //        //将部门中的人都加到新部门，旧部门删除
    //        mergeDepts();
    //    })
    //})

    var mergeDepts = function () {
        var treeDept = $("#tree-orgdeptmerge").jstree(true);
        //获取选中的部门
        var selDepts = treeDept.get_checked();
        if (selDepts.length < 2) {
            bootbox.alert(MultiLangHelper.getResName("orgdept_Mergedept_page_pleaselleattwodeptmerger", "请至少选择两个部门合并"));
            return false;
        }

        //获取增部门数据
        var formData = {};
        if (!$("#frm-orgdeptmerge").valid()) {
            return false;
        } else {
            $("#frm-orgdeptmerge .form-control").each(function () {
                if ($(this).is('input') && $(this).attr('type') == 'checkbox') {
                    formData[$(this).attr("Id")] = $(this).is(":checked") ? $(this).val() : 0;
                    return;
                }
                formData[$(this).attr("Id")] = $(this).val();
            });
            formData['oper'] = "add";
            formData["mergedepts"] = selDepts;
            var rv = false;
            $.ajax({
                type: "post",
                url: basePath + '/api/orgdept/mergedept',//这里不用带tn 因为 表单中有tn值
                data: formData,
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data.success) {
                        bootbox.alert(MultiLangHelper.getResName("orgdept_Mergedept_page_successfulmergerdept", "已成功合并部门"));
                        rv = true;
                    } else {
                        bootbox.alert(data.msg);
                        rv = false;
                    }
                },
                error: function () {
                    //请求出错处理
                    bootbox.alert(MultiLangHelper.getResName("global_txt_systemerror", "系统错误"));
                    rv = false;
                }
            });
            return rv;
        }
    }
</script>