
<div class="widget-box transparent">
    <div class="widget-header widget-header-small">
        <h4 class="widget-title blue smaller">
            <i class="ace-icon fa fa-sitemap orange"></i>
            <fap-multilang lang-key="orgdept_movedept_page_movemobiledept" default-content="拖拽移动部门"></fap-multilang>
        </h4>


    </div>

    <div class="widget-body">
        <div class="widget-main scrollable">
            <fap-tree id="orgdeptremove" is-async="false" edit-url="@Url.Content("~/Organization/Api/OrgDept/MoveDept")" is-orgdept="true" plugin-dnd="true"></fap-tree>
        </div>
    </div>
</div>
