
@model Fap.AspNetCore.ViewModel.JqGridViewModel

<title><fap-multilang lang-key="orgdept_orgjob_title" default-content="职位"></fap-multilang></title>

<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title"><fap-multilang lang-key="orgdept_orgjob_jobgroup_title" default-content="职位族"></fap-multilang></h4>
                <fap-tree-button id="jobgroup" description="职位族" tree-id="tree-jobgroup"></fap-tree-button>
            </div>
            <div class="widget-body">
                <div class="widget-main treescrollable">
                    <fap-tree id="orgjob" is-async="true" get-url="/Organization/Api/OrgDept/OrgJob" edit-url="/Organization/Api/OrgDept/OrgJob"></fap-tree>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title"><fap-multilang lang-key="orgdept_orgjob_job_title" default-content="职位类"></fap-multilang></h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>

                </div>               
            </div>
            <div class="widget-body">

                <div class="widget-main">
                    <fap-grid id="position" grid-model="Model" source-type="Local"  row-numbers="false"  auto-width="true" on-form-init-add="afterInitFormCallback" ></fap-grid>

                </div>
            </div>
        </div>
    </div>
</div>



<script>
    //on-select-row="editRow"
    //行选择可以编辑，回车保存
    //var lastSelection;
    //function editRow(id, s) {
    //    if (id && id !== lastSelection) {
    //        var grid = $("#grid-user");
    //        grid.jqGrid('restoreRow', lastSelection);
    //        grid.jqGrid('editRow', id, {
    //            keys: true
    //        });
    //        lastSelection = id;
    //    }
    //}
    //var initEdit = function () {
    //    //密码为空 默认不修改，新增为空，则默认为1
    //    $("#UserPassword").val("");
    //}
    var afterInitFormCallback = function () {
        var tree = $('#tree-jobgroup').jstree(true);
        var sel = tree.get_selected();
        var node = tree.get_node(sel[0]);
        if (node.data.group === "1") {
            $("#frm-grid-job #JobGroup").val(sel[0]).next().val(node.text);
        } else {
            $.msg("请选择职位族");
        }
    }
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $(document).one('ajaxloadstart.page', function (e) {
                $('#tree-orgjob').jstree("destroy");
            })          

            $('#tree-orgjob').on("changed.jstree", function (e, data) {
                if (data && data.selected && data.selected.length) {
                    var jobGrpid = data.selected[0];
                    //根节点
                    if (jobGrpid == "0") {
                        $("#grid-job").jqGrid('setGridParam', {
                            datatype: 'json',
                            postData: { filters: {} }, //发送数据
                            page: 1
                        }).trigger("reloadGrid"); //重新载入
                        return;
                    }
                    var jobGrpName = data.node.text;

                    var filter = '{"groupOp":"AND","rules":[{"field":"JobGroup","op":"eq","data":"' + jobGrpid + '"}]}';
                    $("#grid-job").jqGrid('setGridParam', {
                        datatype: 'json',
                        postData: { filters: filter }, //发送数据
                        page: 1
                    }).trigger("reloadGrid"); //重新载入
                }
                //console.log(data.selected);
            });
        })
    })
</script>
