
@model Fap.AspNetCore.ViewModel.JqGridViewModel
@{
    Layout = null;
}
<title>菜单管理</title>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">模块设置</h4>

            </div>

            <div class="widget-body">
                <div class="widget-main">
                    <fap-tree id="module" is-async="true" get-url="/SystemApi/Manage/Module"></fap-tree>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-9">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">菜单管理</h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="widget-body">
                <div class="widget-main">
                    <fap-grid id="menu" query-option="@Model.QueryOption" shrink-fit="false" auto-width="true" post-data="@Model.PostData" oper-cud="true" on-form-init-add="afterInitFormCallback" multi-box-only="true" multi-select="true" view-records="true"></fap-grid>
                  
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var afterInitFormCallback = function () {
        var tree = $('#tree-module').jstree(true);
        var sel = tree.get_selected();
        if (sel.length) {
            $("#ModuleUid").val(sel[0]).next().val(tree.get_node(sel[0]).text);
        }
    }
    var scripts = [null, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $(document).one('ajaxloadstart.page', function (e) {
                $('#tree-module').jstree("destroy");
            })
            $('#tree-module').on("changed.jstree", function (e, data) {
                if (data && data.selected && data.selected.length) {
                    var moduleId = data.selected[0];
                    //载入全部菜单
                    if (moduleId == 0) {
                        $("#grid-menu").jqGrid('setGridParam', {
                            datatype: 'json',
                            page: 1
                        }).trigger("reloadGrid"); //重新载入
                        return;
                    }
                    var moduleName = data.node.text;
                   
                    var filter = '{"groupOp":"AND","rules":[{"field":"ModuleUid","op":"eq","data":"' + moduleId + '"}]}'
                    $("#grid-menu").jqGrid('setGridParam', {
                        datatype: 'json',
                        postData: { filters: filter }, //发送数据
                        page: 1
                    }).trigger("reloadGrid"); //重新载入
                }
                //console.log(data.selected);
            });
        })
    })
</script>



