
@model Fap.AspNetCore.ViewModel.JqGridViewModel

<div class="row">
    <div class="col-xs-12 divfapuser">

        <fap-grid id="fapuser" query-option="@Model.QueryOption" post-data="@Model.PostData" wrapper="divfapuser" search-toolbar="true" multi-box-only="true" multi-select="true" view-records="true" auto-width="true"></fap-grid>
    </div>

</div>
