@model Fap.AspNetCore.ViewModel.JqGridViewModel

<title>
    <fap-multilang lang-key="entry_manage" default-content="入职管理"></fap-multilang>
</title>

<div class="row">
    <div class="col-xs-12">
        <div class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">
                    <fap-multilang lang-key="offer_list" default-content="offer列表"></fap-multilang>
                </h4>

                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                </div>
                <div class="widget-toolbar">
                    <fap-button id="btnSendOffer" btn-tag="link" content="发送Offer" icon-before="fa fa-envelope blue" class-name="info"></fap-button>
                    <fap-button id="btnItemPreperation" btn-tag="link" content="物品准备" icon-before="fa fa-cart-plus blue" class-name="info"></fap-button>
                    <fap-button id="btnInfoCompleted" btn-tag="link" content="信息完善" icon-before="fa fa-check blue" class-name="info"></fap-button>
                </div>

            </div>
            <div class="widget-body">

                <div class="widget-main">
                    <fap-grid id="offer" grid-model="Model" wrapper="widget-main" register-authority="false" oper-chart="true" view-records="true" shrink-fit="false"></fap-grid>

                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>

</div>

<script>
    var scripts = [null, "/Scripts/Workflow/business.js?v=2", null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $(document).one('ajaxloadstart.page', function (e) {
            })
            $("#btnSendOffer").on(ace.click_event, function () {
                var rw = getSelectedRow("grid-offer");
                if (rw == null) {
                    return;
                }
                bootboxWindow($.lang("send_offer_notice", "发送Offer通知"), basePath + "/Recruit/Manage/OfferNotice",
                    {
                        ok: {
                            label: $.lang("ok", "确定"),
                            className: "btn-primary btn-link",
                            callback: function () {
                                return sendOfferNotice();
                            }
                        }
                    }, { offerUid: rw.Fid });
            })
            $("#btnItemPreperation").on(ace.click_event, function () {
                var rw = getSelectedRow("grid-offer");
                if (rw == null) {
                    return;
                }
                bootboxWindow($.lang("item_preparation", "物品准备"), basePath + "/Recruit/Manage/ItemPreparation", null,
                    { offerUid:rw.Fid,offerName:rw.EmpName,menuUrl:"~/Recruit/Manage/Entry"});
            })
            $("#btnInfoCompleted").on(ace.click_event, function () {

            })
        })
    })
</script>