@model Fap.AspNetCore.ViewModel.FormViewModel
@{
    ViewBag.Title = "个人信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section beforecss{
}
@section afterscript{
    <script>
    $(function () {
        $("body").prepend($("#navbar").get(0));
        $(".main-content").wrap("<div class=\"main-container container\"></div>");
        $("#btnEntryInfoSave").on(ace.click_event, function () {
            var validate = validateForm("frm-profile");
            if (validate === false) {
                return;
            }
            var formData = collectionFromData("frm-profile", "EmpEntryInfo");
            $.ajax({
                type: "post",
                url: basePath + '/Recruit/Api/CollectionInfo',
                data: formData,
                async: false,
                dataType: "json",
                headers: {
                    //CSRF攻击
                    'RequestVerificationToken': $("input[name='__RequestVerificationToken']").val()
                },
                success: function (result) {
                    rv = result;
                    if (result.success === true) {
                        location.href = basePath + "/Home/Success";
                    } else {
                        bootbox.alert(rv.msg);
                    }
                }
            });

            @*Persistence("frm-profile", "EmpEntryInfo", null, function () {
                $.post(basePath + "/Recruit/Api/OfferStatus", { fid: '@ViewBag.OfferUid', status: 'InfoMaintenance' }, function (rv) {
                    if (rv.success) {
                        location.href = basePath + "/Home/Success";
                    } else {
                        bootbox.alert(rv.msg);
                    }
                })
            });*@
        })
    })
    </script>
}
<div id="navbar" class="navbar navbar-default navbar-fixed-top h-navbar">
    <div class="navbar-container container" id="navbar-container">
        <div class="navbar-header pull-left ace-navbar-brand">
            <span class="no-skin">
                <button data-target="#sidebar" type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                    <span class="sr-only">Toggle sidebar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </span>
            <a href="#" class="navbar-brand">
                <small>
                    &nbsp;<i class="fa fa-user"></i>&nbsp;
                    个人信息
                </small>
            </a><!-- /.brand -->
        </div>
        <div class="navbar-header pull-right ace-navbar-buttons">         
            <button id="btnEntryInfoSave" class="btn btn-app btn-info btn-xs" title="保存">
                <i class="ace-icon fa fa-save bigger-160"></i>
            </button>
        </div>
    </div>
</div>
<div class="row scrollable">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <fap-form id="@Model.FormId" form-model="Model"></fap-form>
        </div>
    </div>
</div>