
@model Fap.AspNetCore.ViewModel.FormViewModel
@{
    Layout = null;
}
<div class="row ">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <fap-form id="@Model.FormId"   form-model="Model"></fap-form>
        </div>
    </div>
</div>

