@model Fap.AspNetCore.ViewModel.JqGridViewModel

<title><fap-multilang lang-key="report_template" default-content="报表模板"></fap-multilang> </title>

<div class="row">
    <div class="col-xs-12">
        <div id="widget-box-orgdept" class="widget-box">
            <div class="widget-header widget-header-flat">
                <h4 class="widget-title">
                    <fap-multilang lang-key="report_template" default-content="报表模板"></fap-multilang>
                </h4>
                <div class="widget-toolbar">
                    <a href="#" data-action="fullscreen" class="orange2">
                        <i class="ace-icon fa fa-expand"></i>
                    </a>
                </div>
                <div class="widget-toolbar no-border">
                    <fap-button id="btnDownloadTemplate" btn-tag="link" content="下载模板" icon-before="fa fa-download blue" class-name="info"></fap-button>
                    <fap-button id="btnRenderReport" btn-tag="link" content="预览报表" icon-before="fa fa-leaf blue" class-name="info"></fap-button>
                    
                </div>
            </div>
            <div class="widget-body">
                <!-- #section:custom/widget-box.toolbox -->
                <div class="widget-main">
                    <fap-grid id="simplereport" grid-model="Model"
                              is-tree-grid="true" expand-column="ReportName" col-menu="false" row-numbers="false" view-records="true" shrink-fit="false" ></fap-grid>

                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var scripts = [null,, null]
    $('.page-content-area').ace_ajax('loadScripts', scripts, function () {
        jQuery(function ($) {
            $("#btnRenderReport").on(ace.click_event, function () {
                var rowData = getSelectedRow("grid-simplereport");
                if (rowData == null) {
                    return;
                }
                $.get(basePath + "/System/Api/Tools/ReportRender/" + rowData.Fid, function (rv) {
                    if (rv.success) {
                        location.href = basePath + "/" + rv.data;
                    } else {
                        bootbox.alert(rv.msg);
                    }
                })
            });
        })
    })
</script>
