
@{
    string bgimg = _configService.GetSysParamValue("sys.web.login.backgroudimg");
    if (bgimg == "")
    {
        bgimg = "/Content/images/hcmbg.jpg";
    }
    string systemName = _configService.GetSysParamValue("sys.web.name");
    string currentLang = _applicationContext.Language.ToString(); //当前语种
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title><fap-multilang default-content="用户登录" lang-key="login_page_title"></fap-multilang></title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <environment include="Development">
        <!-- bootstrap & fontawesome -->
        <link rel="stylesheet" href="../Content/css/bootstrap.css" />
        <link rel="stylesheet" href="../Content/css/font-awesome.css" />
        <!-- text fonts -->
        <link rel="stylesheet" href="../Content/css/ace-fonts.css" />
        <!-- ace styles -->
        <link rel="stylesheet" href="../Content/css/ace.css" />
    </environment>
    <environment exclude="Development">
        <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/css/acefont.min.css" rel="stylesheet" />
        <link href="~/css/ace.min.css" rel="stylesheet" />
    </environment>
    <style>
        .login-page-bg {
            background-image: url(@bgimg);
        }
    </style>
    <!--[if lte IE 9]>
        <link rel="stylesheet" href="../Content/css/ace-part2.css" />
    <![endif]-->
    <link rel="stylesheet" href="../Content/css/ace-rtl.css" />

    <!--[if lte IE 9]>
      <link rel="stylesheet" href="../Content/css/ace-ie.css" />
    <![endif]-->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script type="text/javascript">
        window.jQuery || document.write("<script src='../Content/js/jquery.js'>" + "<" + "/script>");
    </script>

    <!-- <![endif]-->
    <!--[if IE]>
    <script type="text/javascript">
     window.jQuery || document.write("<script src='../Content/js/jquery1x.js'>"+"<"+"/script>");
    </script>
    <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script src='../Content/js/jquery.mobile.custom.js'>" + "<" + "/script>");
    </script>
    <script src="~/Scripts/MultiLanguage.js" asp-append-version="true"></script>
    <script src="~/Content/js/jquery.validate.js"></script>
    <environment include="Development">
        <script src="~/Scripts/Fap/login.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/login.min.js" asp-append-version="true"></script>
    </environment>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="../Content/js/html5shiv.js"></script>
    <script src="../Content/js/respond.js"></script>
    <![endif]-->
</head>

<body class="login-layout">
    <div class="login-page-bg"></div>
    <div class="main-container">
        <div class="main-content">
            <div class="row ">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="login-container">
                        <div class="position-relative">
                            <div id="login-box" class="login-box visible widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h5 class="header blue lighter bigger">
                                            <i class="ace-icon fa fa-coffee green"></i>
                                            <fap-multilang default-content="请输入你的信息" lang-key="login_title"></fap-multilang>
                                            (user:hr pwd:1)
                                        </h5>

                                        <div class="space-6"></div>

                                        <form id="frm-logon" action="~/Home/Logon" method="post">
                                            <fieldset>
                                                <label class="block clearfix form-group">
                                                    <span class="block input-icon input-icon-right">
                                                        <input name="returnUrl" class="hidden" value='' />

                                                        <input type="text" class="form-control" id="username" value="" name="username" multi-placeholder="用户名" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix form-group">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="form-control" id="userpwd" name="userpwd" value="" multi-placeholder="密码" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <h4 class="row  smaller lighter purple">
                                                        <span class="toolbar col-sm-6">
                                                            <a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                                <i class="ace-icon fa fa-arrow-left"></i>
                                                                <fap-multilang default-content="忘记密码？" lang-key="login_forget"></fap-multilang>
                                                            </a>
                                                        </span><!-- /.col -->

                                                    </h4><!-- /.row -->
                                                </div>

                                                <span class=" red">@ViewBag.ErrorMsg</span>
                                                <input type="text" class="form-control hide" id="language" value="@currentLang" name="language" />
                                                <button class="btn btn-primary btn-block btn-round" id="btnLogon">
                                                    <i class="ace-icon fa fa-key"></i>
                                                    <span class="bigger-110">
                                                        <fap-multilang default-content="登录" lang-key="login_ok"></fap-multilang>
                                                    </span>
                                                </button>
                                            </fieldset>
                                        </form>

                                        <div class="toolbar clearfix">
                                            <div>
                                                @*<a href="#" data-target="#forgot-box" class="forgot-password-link">
                                                        <i class="ace-icon fa fa-arrow-left"></i>
                                                        I forgot my password
                                                    </a>*@
                                            </div>

                                            @*<div>
                                                <a href="#" data-target="#signup-box" class="user-signup-link">
                                                    <fap-multilang lang-key="register" default-content="注册"></fap-multilang>
                                                </a>
                                            </div>*@
                                        </div>

                                    </div><!-- /.widget-main -->

                                </div><!-- /.widget-body -->
                            </div><!-- /.login-box -->

                            <div id="forgot-box" class="forgot-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header red lighter bigger">
                                            <i class="ace-icon fa fa-key"></i>
                                            <fap-multilang default-content="找回密码" lang-key="login_password_recovery"></fap-multilang>
                                        </h4>

                                        <div class="space-6"></div>
                                        <p>
                                            <fap-multilang default-content="录入你的Email找回你的信息" lang-key="login_password_recoverytooltip"></fap-multilang>
                                        </p>

                                        <form id="frm-retrieve" action="~/Home/RetrievePassword" method="post">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" id="txtemail" class="form-control" placeholder="Email" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <div class="clearfix">
                                                    <button type="button" id="btnRecovery" class="width-35 pull-right btn btn-sm btn-danger">
                                                        <i class="ace-icon fa fa-lightbulb-o"></i>
                                                        <span class="bigger-110">
                                                            <fap-multilang default-content="找回!" lang-key="login_password_buttonrecovery"></fap-multilang>
                                                        </span>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div><!-- /.widget-main -->
                                    <span id="pwdmsg" class=" red"></span>
                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <fap-multilang default-content="回登录界面" lang-key="login_password_backlogin"></fap-multilang>
                                            <i class="ace-icon fa fa-arrow-right"></i>
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.forgot-box -->


                            <div id="signup-box" class="signup-box widget-box no-border">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            <i class="ace-icon fa fa-users blue"></i>
                                            集团账号注册
                                        </h4>

                                        <div class="space-6"></div>
                                        <p> 输入您的集团信息: </p>

                                        <form id="frm-register" action="~/Home/Register" method="post">
                                            <fieldset>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" name="GrpManager" id="GrpManager" class="form-control" placeholder="Email账号" />
                                                        <i class="ace-icon fa fa-envelope"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" name="GrpPassword" id="GrpPassword" class="form-control" placeholder="密码" />
                                                        <i class="ace-icon fa fa-lock"></i>
                                                    </span>
                                                </label>

                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" name="ConfirmPassword" class="form-control" placeholder="确认密码" />
                                                        <i class="ace-icon fa fa-retweet"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" name="GrpFullName" id="GrpFullName" class="form-control" placeholder="集团全称" />
                                                        <i class="ace-icon fa fa-globe"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" name="GrpName" id="GrpName" class="form-control" placeholder="集团简称" />
                                                        <i class="ace-icon fa fa-globe"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <textarea type="text" name="GrpAddress" id="GrpAddress" class="form-control" placeholder="集团地址"></textarea>
                                                        <i class="ace-icon fa fa-building"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" name="LinkMan" id="LinkMan" class="form-control" placeholder="联系人" />
                                                        <i class="ace-icon fa fa-user"></i>
                                                    </span>
                                                </label>
                                                <label class="block clearfix">
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" name="LinkPhone" id="LinkPhone" class="form-control" placeholder="联系人电话" />
                                                        <i class="ace-icon fa fa-phone"></i>
                                                    </span>
                                                </label>
                                                <label class="block">
                                                    <input type="checkbox" class="ace" />
                                                    <span class="lbl">
                                                        我接受此
                                                        <a href="#">协议</a>
                                                    </span>
                                                </label>

                                                <div class="space-24"></div>

                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-sm">
                                                        <i class="ace-icon fa fa-refresh"></i>
                                                        <span class="bigger-110">重置</span>
                                                    </button>

                                                    <button type="button" id="btnregister" class="width-65 pull-right btn btn-sm btn-success">
                                                        <span class="bigger-110">注册</span>

                                                        <i class="ace-icon fa fa-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="toolbar center">
                                        <a href="#" data-target="#login-box" class="back-to-login-link">
                                            <i class="ace-icon fa fa-arrow-left"></i>
                                            返回登录
                                        </a>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                            <!-- /.signup-box -->
                        </div><!-- /.position-relative -->
                        <div class="navbar-fixed-top align-left white">
                            <h1>
                                @*<img src="~/Content/images/logo32.png" />*@
                                &nbsp;<i class="fa fa-globe"></i>&nbsp;
                                <fap-multilang lang-key="system_name" default-content="@systemName"></fap-multilang>
                                <span class="blue h4">(v1.0.0)</span>
                            </h1>
                        </div>
                        <div class="navbar-fixed-top align-right">
                            <br />
                            &nbsp;
                            <a href="~/Home/Index?Lang=ZhCn" data-rel="multilanguage" data-multilang="ZhCn">简体中文</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a href="~/Home/Index?Lang=ZhTW" data-rel="multilanguage" data-multilang="ZhTW">繁體中文</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a href="~/Home/Index?Lang=En" data-rel="multilanguage" data-multilang="En">English</a>
                            &nbsp;
                            <span class="blue">/</span>
                            &nbsp;
                            <a href="~/Home/Index?Lang=Ja" data-rel="multilanguage" data-multilang="Ja">日本語</a>
                            &nbsp; &nbsp; &nbsp;
                        </div>

                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.main-content -->

    </div><!-- /.main-container -->

    <div class="footer">
        <div class="footer-inner">
            <!-- #section:basics/footer -->
            <div style="color:white">
                <div class="bigger-120">
                    <span class="blue bolder">HCM</span>
                    &copy; 2020-2022
                    <br />

                    <a style="display:inline-block"> <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"> 京ICP备20014106号-1 </p></a>
                    <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=13020302000969" style="display:inline-block">
                        <img src="~/images/beian.png" style="float:left;" />
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">
                            冀公网安备 13020302000969号
                        </p>
                    </a>
                </div>
            </div>
            <!-- /section:basics/footer -->
        </div>
    </div>
</body>
</html>
