
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section beforecss{
    <style>
        body {
            background: #E4E6E9;
        }
    </style>
}
@section afterscript{
    <script>
        $(function () {
            $("body").prepend($("#navbar").get(0));
            $(".main-content").wrap("<div class=\"main-container container\"></div>");

        })
    </script>
}
<div id="navbar" class="navbar navbar-default navbar-fixed-top h-navbar">
    <div class="navbar-container container" id="navbar-container">
        <div class="navbar-header pull-left ace-navbar-brand">
            <span class="no-skin">
                <button data-target="#sidebar" type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
                    <span class="sr-only">Toggle sidebar</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </span>
            <a href="#" class="navbar-brand">
                <small>
                 success
                </small>
            </a><!-- /.brand -->
        </div>
      
    </div>
</div>
<div class="alert alert-block alert-success">


    <p class="h1">
        <strong>
            <i class="ace-icon fa fa-check"></i>
            做的好!
        </strong>
        你成功的完成了此操作。
    </p>
    <p class="h5">
        <strong>
           
            Well done!
        </strong>
        You successfully completed the operation
    </p>

</div>

